"*":
  Ensime:
    ensimeServerVersion: "2.0.0-M1"
    sbtExec: "/usr/local/bin/sbt"
  "advanced-open-file":
    defaultInputValue: "Project root"
  "autocomplete-plus":
    useCoreMovementCommands: false
  core:
    packagesWithKeymapsDisabled: [
      "goto-last-edit"
      "advanced-new-file"
      "color-picker"
    ]
    telemetryConsent: "no"
  "cursor-history":
    flashOnLand: false
  editor:
    fontFamily: "Menlo"
    fontSize: 11
    invisibles: {}
  "exception-reporting":
    userId: "b0d7f8e7-4de8-2e2a-677b-258dcd0efa58"
  "linter-ui-default":
    showPanel: true
    showStatusBar: false
  minimap: {}
  "one-dark-mini-ui":
    tabSizing: "Even"
  "one-dark-ui":
    fontSize: 10
    layoutMode: "Compact"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "relative-numbers": {}
  "seti-super-compact-ui":
    compactView: "Super Compact"
    fileIcons: false
    font: "Default Atom Font"
  "vim-mode-plus":
    dontUpdateRegisterOnChangeOrSubstitute: true
    flashOnOperate: false
    flashOnUndoRedo: false
    keymapPToPutWithAutoIndent: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
