packages: [
  "advanced-open-file"
  "atom-elixir"
  "atom-keyboard-macros-vim"
  "atom-material-syntax"
  "atom-material-syntax-dark"
  "autoclose-html"
  "browser-plus"
  "busy-signal"
  "chester-atom-syntax"
  "color-picker"
  "cursor-history"
  "darkula-syntax"
  "double-tag"
  "Ensime"
  "export-html"
  "git-plus"
  "goto-last-edit"
  "hyperclick"
  "iex"
  "intentions"
  "jellybeans"
  "jumpy"
  "language-elixir"
  "language-scala"
  "linter"
  "linter-ui-default"
  "monokai"
  "oceanic-next"
  "one-dark-mini-ui"
  "outlander-syntax"
  "outlander-ui"
  "package-sync"
  "pigments"
  "proton"
  "relative-numbers"
  "seti-super-compact-ui"
  "vim-mode-plus"
  "vim-mode-plus-ex-mode"
  "vim-mode-plus-keymaps-for-surround"
  "wombat-dark-syntax"
]
